/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: local('/fonts/Inter-Regular.ttf');
	font-weight: 400, normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: local('/fonts/Inter-Bold.ttf');
	font-weight: 700, bold;
	font-style: bold;
}

* {
	@apply [&]:[color-scheme:dark];
}

html,
body {
	@apply h-screen overflow-hidden;
}

body {
	@apply bg-neutral-800 text-neutral-50;
}
